@model IEnumerable<MVC_UserPermissions.Models.CategoriaProduto>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    @if (ViewBag.Permissions.Criar)
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                <span>Id</span>
            </th>
            <th>
                <span>Nome</span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @if (ViewBag.Permissions.Editar)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    }
                    @if (ViewBag.Permissions.Excluir)
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            <td>
                <span>@item.Id</span>
            </td>
            <td>
                <span>@item.Nome</span>
            </td>
        </tr>
}
    </tbody>
</table>
